<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/datepicker.css" rel="stylesheet" media="screen">	
<style>
body{
   background-image:url('');

}

</style>	
	
</head>
<body >
{% extends 'index.html'%}
{% block content %}
<img src="/static/{{exam.exam_background_photo}}" width="55%"   class="img-polaroid" style="height:200px;margin-left:300px"><br />


<h2 style="color:blue;margin-left:300px"> {{exam.exam_topic}} </h2><br />	
<h4 style="margin-left:300px;">{{exam.exam_descript}}</h4><br /><br />

<div style="margin-left:720px;">
<!--<input type="text" name="year" style="width:60px" >年<input type="text" name="month" style="width:60px" >月<input type="text" name="day" style="width:60px" >日-->
<div class="input-append date" id="dp5" data-date="" data-date-format="mm-dd-yyyy">
 <input class="span2" size="16" type="text" name="time" id="usertime">
 <span class="add-on"><i class="icon-th"></i></span>
</div>
<button class="btn btn-large btn-primary"  id="chakan" onclick="score()">查看结果</button>
</div>



<div class="modal" id="myModal1">
                     <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3 id="days"></h3>
                        <img src='' id="img1" />
                      </div>
                    <div class="modal-body">
                    <p id="descript"></p>
                    </div>
                   <div class="modal-footer">
                    <p>谢谢您的支持</p>
                   </div>
                </div> 

<div class="modal" id="myModal">
                     <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>测你妹啊来历</h3>
                      </div>
                    <div class="modal-body">
                    <p>这是一个测试游戏的平台，由于你妹一词的影响而取此名,此应用由CNM_CREW开发制作，这只是我们的第一个版本，今后还会不断更新。CNM_CREW初来乍到，希望前辈们，用户们多多支持，有什么好的建议可以联系我们，再次谢谢大家，祝大家天天开心。</p>
                    </div>
                   <div class="modal-footer">
                    <p>谢谢您的支持</p>
                   </div>
                </div>



<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js" ></script>
<script type="text/javascript" >
opt = eval('('+"{{opt|escapejs}}"+')')

var myDate = new Date();
now_year = myDate.getFullYear();
now_month = myDate.getMonth() + 1 ;
now_day = myDate.getDate();


function score(){      
           
      usertime = document.getElementById('usertime').value;

		user_year = usertime.charAt(6) + usertime.charAt(7) + usertime.charAt(8) + usertime.charAt(9);
		user_month = usertime.charAt(0) + usertime.charAt(1);
		user_day = usertime.charAt(3) + usertime.charAt(4);

      
      user_year = parseInt(user_year);
      user_month = parseInt(user_month);
      user_day = parseInt(user_day);
              
		all_days = (now_year - user_year)*365 + (now_month - user_month)*30 + (now_day - user_day)
		
		for(i=0;i<opt.length;i++){
      if(opt[i].option_min <= all_days && all_days<=opt[i].option_max){
       document.getElementById('days').innerHTML = opt[i].option_topic;
       document.getElementById('descript').innerHTML = opt[i].option_descript;    
       document.getElementById('img1').src = opt[i].option_photo; 
       s =  document.getElementById('img1').src.substr(30);      
       document.getElementById('img1').src= s;
        }
        }
		 
      document.getElementById('days').innerHTML += all_days + '天';
		$('#myModal1').modal('show');
}

$("#dp5").datepicker({
    formate:'mm-dd-yyyy'  
});

/*$('#dp5').datepicker();
$('.datepicker').datepicker();

$('#dp5').datepicker()
  .on('changeDate', function(ev){
 if (ev.date.valueOf() < startDate.valueOf()){
      var newDate = new Date(ev.date)
      newDate.setDate(newDate.getDate() + 1);
     checkout.setValue(newDate);     
  }
  });*/

</script>
<script type="text/javascript">
$('#myModal1').modal({
    backdrop:true,
    keyboard:false,
    show:true
    });
$('#myModal1').modal('hide')

$('#myModal').modal({
    backdrop:true,
    keyboard:false,
    show:true
    });
$('#myModal').modal('show')
$('#myModal').modal('hide')
</script>


<div style="height:50px"></div>
{% endblock %}

</body>
</html>